.main-content-container-search {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  top: 55px;
  left: 240px;
  width: calc(100% - 250px);
}

.main-content-container-home {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  top: 55px;
  left: 240px;
  width: calc(100% - 250px);
  padding-top: 30px;
}

.main-content__video-list {
  max-width: 100%;
}
